;;
==
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">{{this.theme.login_title|raw}}</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">{{this.theme.login_title|raw}}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% set nameEncode = user.name | url_encode %}
              <img src="{{'https://ui-avatars.com/api/?name='~nameEncode}}" class="user-image" alt="User Image">
              <span class="hidden-xs text-capitalize">{{user.name}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{'https://ui-avatars.com/api/?name='~nameEncode}}" class="img-circle" alt="User Image">

                <p>
                  {{user.name}}
                  <small>Member sejak {{ user.crated_at | date('M Y') }}</small>
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <!-- <a href="/user/profile" class="btn btn-default btn-flat">Profile</a> -->
                </div>
                <div class="pull-right">
                  <a data-request="onLogout" class="btn btn-default btn-flat" data-request-data="redirect: '/user/login'">Sign out</a>
                  <!-- <a href="/user/login" class="btn btn-default btn-flat">Sign out</a> -->
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>